<%# app/views/profiles/show.html.erb %>

`   `

<h2>Подписчики</h2>
<ul class="list-group">
    <% if @profile.followers.count == 0 %>
        <p>Нет подписчиков</p>
    <%else%>
        <% @profile.followers.each do |follower| %>
            <li class="list-group-item" ><%= link_to follower.username, follower %></li>
        <% end %>
    <% end %>
</ul>

<h2>Подписки</h2>
<% if @profile.following.count == 0%>
    <p>Нет подписок</p>
<% else %>
    <ul>
        <% @profile.following.each do |followed| %>
            <li class="list-group-item"><%= link_to followed.username, followed ,class: "btn btn-primary"%></li>
            <% if user_signed_in? %>
                <%= button_to 'Отписаться', profile_followers_path(@profile), method: :delete, class: 'btn btn-secondary' %>
            <% end %>

        <% end %>
    </ul>
<% end %>